@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NatoSans';
    font-weight: 100;
    font-style: normal;
    src: url('../public/fonts/NotoSansKR-Thin.otf');
}
@font-face {
    font-family: 'NatoSans';
    font-weight: 300;
    font-style: normal;
    src: url('../public/fonts/NotoSansKR-Light.otf');
}
@font-face {
    font-family: 'NatoSans';
    font-weight: 400;
    font-style: normal;
    src: url('../public/fonts/NotoSansKR-Regular.otf');
}
@font-face {
    font-family: 'NatoSans';
    font-weight: 500;
    font-style: normal;
    src: url('../public/fonts/NotoSansKR-Medium.otf');
}
@font-face {
    font-family: 'NatoSans';
    font-weight: 700;
    font-style: normal;
    src: url('../public/fonts/NotoSansKR-Bold.otf');
}
@font-face {
    font-family: 'NatoSans';
    font-weight: 900;
    font-style: normal;
    src: url('../public/fonts/NotoSansKR-Black.otf');
}
body {
    font-family: 'NatoSans';
}
.header-animation {
    animation-name: header-animation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes header-animation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.06);
    }
}
.tr-arrow {
    transform: translateX(-50%);
    animation-name: bounce;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    0% {
        transform: translate(-50%,0);
    }
    100% {
        transform: translate(-50%,-20px);
    }
}
.w-80 {
    width: 300px;
}
@media (min-width: 768px) {
    .proj-size {
        width: 300px;
        height: 330px;
    }
} 